.homepage{
  /* so that it doesnt become huge on large screens */
  max-width: 1500px;
  margin: auto;
}


.homepage__heroImg{
  width: 100%;
  min-width: 650px;
  mask-image: linear-gradient(0deg, rgba(80,212,251,0) 0%, rgba(0,90,168,1) 50%);
  z-index: -1;
  margin-bottom: -15rem;
}


.product__row{
  display: flex;
  justify-content: space-evenly;
  /* margin: auto; */
  margin-left: 1rem;
  margin-right: 1rem;
}